doctype html
html
    head
        link(rel="sytlesheet" href="style.css")
    body
        block header
            include header
        block contentArea
            h1 maincontent
        include footer
