doctype html
html
    head
    body    
        //single line text
        p this is a single line
        //multipine
        p. 
            oingog
            dawdesfe
            esffse 
        .myclass
        #myid
        p#elem

        -const data=["movie","show","something"]; 
        nav 
            ul
                for value in data
                    li=value
                else
                    li nothing here
        -let num=10;       
        nav
         ul
          -while(num>0){
           li=num
              -num--;
          -}                     

              
