nav
  ul.navigation
    li.nav-line
      a.white-anchors.active(href='') FEATURES
    li.nav-line
      a.white-anchors(href='') DETAILS
    li.nav-line
      a.white-anchors(href='') REVIEWS
    li.nav-line
      a.white-anchors(href='') PLANS
    li.nav-line
      a.white-anchors(href='') SIGN UP